.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 166.67px 166.67px 166.67px;
    grid-template-rows: 166.67px 166.67px 166.67px;
    margin: 30px auto;
  }

.grid-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.vertical{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}